.flux-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: calc(100% - 10.8rem);
  background-color: #F8F8F9;
}

.main-section {
  width: 100%;
  padding: 0 10.8rem;
}

.option__exit--margin {
  margin-top: -0.2rem;
  margin-bottom: 0.1rem;
}

.main__header {
  display: flex;
  align-items: center;
  width: 100%;
}

.clientsIcon {
  width: 32px;
  height: 32px;
}

.main__header>h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
}

button.buttonBase {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.buttonFilter {
  border: none;
  background-color: #FFFFFF;
  height: 4rem;
  width: 4rem;
  border-radius: 10px;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

button.buttonBase,
.buttonFilter:hover,
.magnifierIcon {
  cursor: pointer;
}

.inputSearch-container {
  position: relative;
  display: flex;
  align-items: center;
}

.inputSearch {
  all: unset;
  height: 3.9rem;
  width: 31.8rem;
  border-radius: 10px;
  padding: 0.7rem 3.2rem 0.7rem 0.8rem;
  background-color: #FFFFFF;

  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.magnifierIcon {
  position: absolute;
  right: 0.8rem;
}